// color palettes

@lightblue: #44BBFF;
@lightorange: #F6B42C;
@lightgreen: #AAD450;
@lightpink: #F27490;
@navyblue: #334455;

// ************

* {
	maring: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 50px;
}